.app__videos {
  position: relative;
  height: 70vh;
  background-color: #fff;
  width: 70%;
  border-radius: 20px;
  max-width: 350px;
  max-height: 1200px;
  overflow: scroll;
  scroll-snap-type: mandatory;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
